<div class="row">
    <aside class="span">
      <section>
      <br>
      <div>
      <p>Dashbord</p>
      <hr>
        <div class="text-center mt-1">
          
          <%= gravatar_for current_user ,size: 60
           %>
          <strong>
          <%= link_to current_user.name,current_user%></strong>
           <div>
           <%= "followings.count" %>
           <%= "followers.count" %>
           
          </div>
      </ul>
      
      <ul class="border">
      <li >
      </li>
      <div class="text-center">
      <li>
      <%= "user.Word leraned.conut" %>
      </li>
          <li>
     
      </li>
         </div>
          </div>
      </ul>
      </section>
    </aside>
 
<br>
    <div class="mt-4">
        <ul>
          <li class="border">
              <p>Activity Feed</p>
          </li>
        </ul>
      </div>
      
  </div>