<% provide(:title,@title) %>
<br>
<section class="container">
    <br>
       <div>
            <h1 class="border-bottom">Dashbord</h1>
                <div class="row">
                    <div class="text-center mt-1">
                        <ul class=" p-5">
                            <li>
                                <%= gravatar_for @user , size: 80 %>
                            </li>
                            <li class="mt-2">
                                <%= @user.name %>
                            </li>
                        </ul>
                    
                    <div class=" p-3">
                        <div class="mt-3">
                            <%= render 'shared/stats' %>
                        </div>
                    </div>
                </div>
                
                <div class="m-1 p-4">
                    <h3 class="ml-3"><%= @title %></h3>
                        <% if @users.any? %>
                            <% @users.each do |user| %>
                                <ul class="users follow">
                                    <%= render user %>
                                </ul>
                            <% end %>
                            <%= will_paginate %>
                        <% end %>
                </div>
        </div>
</section>
  
 
     
 