<% provide(:title,'Profile') %>  
<br>       
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <div class="avatar">
                    <i><%= gravatar_for @user ,size: 60 %></li>
                    <h3><%= @user.name %></h3>
                    <%= render 'follow_form' if logged_in?%>
                    <hr>
                </div>
                <div class="follow">
                    <%= render 'shared/stats' %>
                </div>
                <hr>
                <div class="word">
                    <div class="text-center">
                        <p>words learned</p>
                    </div>  
                </diV>
            </div>
        </div>    
        <div class="col-sm-8">
            <div class="activity">
                <div class="activity word">
                    <h2>Activities<h2>
                    <hr>
                </div>
                <div class="body">
                    <% "@users.each do |user|"%>
                        <%= gravatar_for @user ,size: 60 %>
                        <p>You</p>
                        
                        
                </div>
            </div>
        </div>
    </div>
</div>